* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  padding: 60px;
}

input {
  color: gray;
  font-size: 1.2rem;
  width: 100%;
}

.card {
  align-content: center;
  border: 1px solid gray;
  border-radius: 6px;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 170px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer {
  color: #000;
  text-align: center;
  text-align: center;
  padding: 3px;
}

.footer a {
  color: rgb(37, 81, 201);
  text-decoration: none;
}
